<div class='headers'>
    <br>
    <h3>Thank you for registering!</h3>
    <span>Your registration details:</span>
</div>

<div class="container">
    <table class="table table-hover">
        <tbody>
        <tr>  
            <td><span>Your name: </span></td>
            <td><span>{{ formData.name }}</span></td>
        </tr>
        <tr>  
            <td><span>Your email: </span></td>
            <td><span>{{ formData.email }}</span></td>
        </tr>
        <tr>  
            <td><span>Your gender: </span></td>
            <td><span>{{ formData.gender }}</span></td>
        </tr>
        <tr>  
            <td><span>Your date of birth: </span></td>
            <td><span>{{ formData.dateOfBirth.format('MMMM Do YYYY') }}</span></td>
        </tr>
        <tr>  
            <td><span>Your country: </span></td>
            <td><span>{{ formData.country }}</span></td>
        </tr>
        <tr>  
            <td><span>Your address: </span></td>
            <td><span>{{ formData.address }}</span></td>
        </tr>
        <tr>  
            <td><span>Your contact number: </span></td>
            <td><span>{{ formData.contactNumber }}</span></td>
        </tr>
        </tbody>
    </table>
</div>

<br>

<div class='backButton' fxLayout="row"  fxLayoutAlign="start center">
    <button mat-icon-button aria-label="backButton" (click)="back()">
        <mat-icon>arrow_back_ios</mat-icon>
        <span>Register another user</span>
    </button>
</div>
